* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background-color: black;
}

.container {
  background-color: #ffcdcd;
  width: 490px;
  height: 660px;
  border-radius: 15px;
  position: relative;
}

@media (max-width: 640px) {
  .container {
    width: 300px;
    height: 500px;
  }
}

.container #backBtn {
  background-color: #ffcdcd;
  border: none;
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 40px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .container #backBtn {
    font-size: 20px;
    left: 30px;
  }
}

.container h1 {
  position: absolute;
  font-size: 32px;
  top: 30px;
  right: 115px;
}

@media (max-width: 640px) {
  .container h1 {
    font-size: 15px;
    right: 92px;
  }
}

.inputs {
  position: relative;
}

@media (max-width: 640px) {
  .inputs input{
    font-size: 10px;
  }
}

.inputs .name {
  font-size: 20px;
  position: absolute;
  top: -230px;
  right: 340px;
  font-weight: bold;
  width: 100px;
}

@media (max-width: 640px) {
  .inputs .name {
    font-size: 12px;
    top: -170px;
    right: 150px;
  }
}

.inputs #name {
  width: 400px;
  height: 50px;
  position: absolute;
  top: -198px;
  right: 40px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 640px) {
  .inputs #name {
    width: 230px;
    height: 28px;
    top: -150px;
    right: 32px;
  }
}

.inputs .email {
  font-size: 20px;
  position: absolute;
  top: -120px;
  right: 340px;
  font-weight: bold;
  width: 100px;
}

@media (max-width: 640px) {
  .inputs .email {
    font-size: 12px;
    top: -100px;
    right: 150px;
  }
}

.inputs #email {
  width: 400px;
  height: 50px;
  position: absolute;
  top: -84px;
  right: 40px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 640px) {
  .inputs #email {
    width: 230px;
    height: 28px;
    top: -80px;
    right: 32px;
  }
}

.inputs .password {
  font-size: 20px;
  position: absolute;
  top: -8px;
  right: 340px;
  font-weight: bold;
  width: 100px;
}

@media (max-width: 640px) {
  .inputs .password {
    font-size: 12px;
    top: -28px;
    right: 150px;
  }
}

.inputs #password {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 40px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 640px) {
  .inputs #password {
    width: 230px;
    height: 28px;
    top: -8px;
    right: 32px;
  }
}

.inputs .conf-psword {
  font-size: 20px;
  position: absolute;
  top: 110px;
  right: 240px;
  font-weight: bold;
  width: 200px;
}

@media (max-width: 640px) {
  .inputs .conf-psword {
    font-size: 12px;
    top: 44px;
    right: 52px;
  }
}

.inputs #pssword {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 140px;
  right: 40px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 640px) {
  .inputs #pssword {
    width: 230px;
    height: 28px;
    top: 64px;
    right: 32px;
  }
}

.signup {
  position: relative;
}

.signup #signupBtn {
  position: absolute;
  top: 230px;
  right: 142px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #b017cb;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 640px) {
  .signup #signupBtn {
    font-size: 18px;
    width: 140px;
    height: 32px;
    top: 140px;
    right: 78px;
    border-radius: 10px;
  }
}
