* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  width: min(92%, 500px);
  background-color: #ffcdcd;
  border-radius: 15px;
}

.top {
  display: flex;
  align-items: flex-start;
  padding: 20px 30px;
}

.top #backBtn {
  background: none;
  border: none;
  font-size: 40px;
  line-height: 1;
  cursor: pointer;
}

.top h1 {
  flex: 1;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-right: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-left: 40px;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field label {
  font-size: 20px;
  font-weight: bold;
}

.field input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
}

.inputs #signupBtn {
  align-self: center;
  width: 40%;
  margin-top: 20px;
  margin-right: 36px;
  padding: 10px;
  background-color: #b017cb;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.inputs #signupBtn:hover {
  background-color: #6a077b;
  transform: scale(1.05);
}

@media (max-width: 640px) {
  .top #backBtn {
    font-size: 30px;
  }
  .top h1 {
    font-size: 20px;
  }
  .inputs {
    padding: 10px;
    gap: 20px;
    margin-left: 30px;
  }
  .field label {
    font-size: 16px;
  }
  .field input {
    height: 30px;
    font-size: 16px;
  }
  .inputs #signupBtn {
    margin-top: 10px;
    font-size: 16px;
  }
}
