* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: black;
}

.container {
  position: relative;
  width: min(92%, 440px);
  container-type: inline-size;
}

.background {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11% 9% 9%;
}

.content h1 {
  font-size: 40px;
  color: rgb(75, 1, 1);
  align-self: flex-start;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.bottom h2 {
  font-size: 34px;
  color: rgb(122, 4, 4);
  text-align: center;
}

.bottom #startBtn {
  font-family: inherit;
  font-weight: 600;
  font-size: 28px;
  width: 60%;
  padding: 12px;
  background-color: #c78a8a;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.bottom #startBtn:hover {
  background-color: #b57474;
  transform: scale(1.05);
}

@media (max-width: 640px) {
  .container {
    width: 92%;
  }
  .content h1 {
    font-size: 20px;
  }
  .bottom {
    gap: 30px;
    margin-bottom: 30px;
  }
  .bottom h2 {
    font-size: 20px;
  }
  .bottom #startBtn {
    font-size: 14px;
    width: 40%;
  }
}
